<div class="container text-box">  
  <h1>Listing Sites</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Url</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td><%= site.title %></td>
          <td><%= site.url %></td>
          <td><%= site.description %></td>
          <td><%= image_tag site.avatar.url(:thumb) %></td>
          <td><%= link_to 'Show', site %></td>
          <td><%= link_to 'Edit', edit_site_path(site) %></td>
          <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Site', new_site_path %>
  <br>
  &nbsp
</div>