<div class="container">	
	<p id="notice"><%= notice %></p>

	<h1><%= @site.title %></h1>

	<h3><a href="http://<%= @site.url %>" target="_blank" title="<%= @site.title %>"><%= @site.url %></a></h3>

	<p>
	  <%= @site.description %>
	</p>

	<p><%= image_tag @site.avatar.url, class: "site-pic" %></p>

</div>